* {
  padding: 0%;
  margin: 0%;
}
.image img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 15px;
  animation: picture 2s 1 ease;
}
@keyframes picture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  font-size: 25px;
  font-weight: 700;
}
.text p {
  margin-top: 20px;
  color: gray;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  animation: fade 2s 1 ease-in;
  /* opacity: 0; */
}
@keyframes fade {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.text h1 {
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  animation: fadeIn 2s 1 ease-in;
}
@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 20px;
}
.nav-links a {
  color: black;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  animation: fadein 2s 1 ease-in;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* .parent{
      
} */
/* .Rprojects {
  display: flex;
} */
.Rprojects h2 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
.Rprojects p {
  margin-top: 20px;
  color: gray;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
hr {
  margin: 200px;
  color: gray;
}
.Project img {
  display: flex;
  justify-content: center;
  /* width: auto; */
  height: 650px;
  /* margin-left: 280px;
  margin-bottom: 40px;
  margin-top: 50px; */
  animation: imgreveal 2s 1 ease-in;
}

.Project {
  position : relative;
  height: 650px;
  overflow: hidden;
  margin-left: 300px;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-right: 280px;
  transition: transform 1 ease;
}
.Project:hover img {
  transform: scale(1.05);
}
.design {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  margin-left: 220px;
}
.card {
  background-color: white;
  transition: transform 1 ease;
}
.card:hover img {
  transform: scale(1.05);
}
.card img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.card h3 {
  font-size: 20px;
  font-weight: 500;
}
.card p {
  font-size: 14px;
  letter-spacing: 1px;
  color: gray;
  /* margin: 15px 0 5px; */
}
.cardimg {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position : relative;

}
.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  transform-origin: right;
  animation: reveal 2s ease forwards;
  pointer-events: none;
}
@keyframes reveal {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
