* {
  padding: 0%;
  margin: 0%;
}
.image img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 15px;
  animation: picture 2s 1 ease;
}
@keyframes picture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  font-size: 25px;
  font-weight: 700;
}
.text p {
  margin-top: 20px;
  color: gray;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  animation: fade 2s 1 ease-in;
  /* opacity: 0; */
}
@keyframes fade {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.text h1 {
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  animation: fadeIn 2s 1 ease-in;
}
@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: 20px;
}
.nav-links a {
  color: black;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  animation: fadein 2s 1 ease-in;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* .parent{
      
} */
/* .Rprojects {
  display: flex;
} */
.Rprojects h2 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
.Rprojects p {
  margin-top: 20px;
  color: gray;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
hr {
  margin: 200px;
  color: gray;
}
.Project img {
  display: flex;
  justify-content: center;
  /* width: auto; */
  height: 650px;
  /* margin-left: 280px;
  margin-bottom: 40px;
  margin-top: 50px; */
  animation: imgreveal 2s 1 ease-in;
}

.Project {
  height: 650px;
  overflow: hidden;
  margin-left: 300px;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-right: 280px;
  transition: transform 1 ease;
}
.Project:hover img {
  transform: scale(1.05);
}
.design {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  margin-left: 220px;
}
.card {
  background-color: white;
  transition: transform 1 ease;
}
.card:hover img {
  transform: scale(1.05);
}
.card img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.card h3 {
  font-size: 20px;
  font-weight: 500;
}
.card p {
  font-size: 14px;
  letter-spacing: 1px;
  color: gray;
  /* margin: 15px 0 5px; */
}
.cardimg {
  height: 500px;
  width: 500px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  transform-origin: right;
  animation: reveal 2s ease forwards;
  pointer-events: none;
}
@keyframes reveal {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.Skill {
  padding: 60px 80px;
}
.Skill h1 {
  font-size: 48px;
  margin-bottom: 40px;
  margin-left: 200px;
}
.skill-container {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-left: 300px;
  margin-right: 400px;
}
.skill-box {
  border-top: 1px solid gray;
  padding-top: 50px;
}
.skill-box h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.skill-box p {
  font-size: 15px;
  color: gray;
  line-height: 1.2;
}
.au {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}
.content {
  max-width: 45%;
}
.content h1 {
  margin-left: 300px;
  font-size: 60px;
  margin-bottom: 20px;
}
.content p {
  margin-left: 300px;
  color: gray;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.btn {
  margin-left: 300px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.photo img {
  margin-right: 300px;
  width: 500px;
  border-radius: 4px;
  height: 500px;
}
.articles {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 48px;
}

.browse {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 250px;
}

.article-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-left: 200px;
  object-fit: cover;
  transition: transform 1 ease;
}

.article-card {
  background: white;
  width: 500px;
}

.article-card img {
  width: 100%;
  height: auto;
}

.meta {
  font-size: 14px;
  color: gray;
  margin: 10px 0;
  margin-left: 200px;
}

.article-card h2 {
  font-size: 24px;
  line-height: 1.4;
}
.article-card:hover img {
  transform: scale(1.05);
}
