.image img{
    width: 200px;
    border-radius: 50%;
    height: 200px; 
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.text p{
    margin-top: 20px;
    color:gray;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    
}
.text h1{
    text-align: center;
    font-size: 70px;
    font-weight:normal;
    
}
/* .parent{
    margin-top: 70px;
    display:flex;
    justify-content: center;
    flex-direction: row; */

/* .text{
    width: 599px;
    
} */