body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #2c3e50;
}

ul {
  list-style-type: square;
}

.project {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: darkslateblue;
  color: white;
}

#social {
  text-align: center;
}

#social a {
  text-decoration: none;
  color: darkslateblue;
  font-weight: bold;
  margin: 0 10px;
}

#social a:hover {
  color: darkslateblue;
}
